*{
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #444E57
}
.container{
 width: 80%;
  height: 100%;
  margin: 0 auto;
  
}
.title{
  color: white;
  text-align: center;
}
h3{
  color: white;
  border-bottom: 2px solid #18AEE2;
  padding: 10px;
}
form{
  margin-bottom: 20px;
}