*{
    box-sizing: border-box;
  }
 
  .form{
    display: flex;
    flex-direction:column; 
    flex-wrap: wrap;
  }
 
  .form-item{
    border-style: none;
    background-color: transparent;
    color: white;
    padding: 10px 0px 10px 0;
    border-bottom: 1px solid #81868c;
    outline: none;
  }
  .name-phone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .name{
    margin-right: 20px;
    flex-basis: 60%;
  }
  .tel{
    flex-basis: 38%;
  
  }
  .email{
    
    flex-basis: 60%;
  }
  .sub-btn{
    width: 100px;
    padding: 15px 10px;
    margin-top: 20px;
    background-color: rgb(8, 145, 190);
    border: none;
    outline: none;
    color: white;
    font-size:2vh; 
    cursor: pointer;
  }
  .sub-btn:disabled{
    cursor: not-allowed;
  }
  .city-adr{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .adr-item{
    flex: 1 0 auto;
  }
  .state{
    margin-right: 20px;
  }
  .city{
    margin-right: 20px;
  }
  .region{
    margin-right: 20px;
  }
  .invalid{
    border-bottom: 1px solid red !important
  }
  .email-match{
    display: none;
  }
  .emails-not-match{
    display: block;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: rgb(5, 147, 194);
    margin-left: 20px;
  }
  
  @media screen and  (max-width:480px){
    .container{
      width: 90%; 
    }
    .form-item{
      font-size: 15px;
    }
    .name{
      flex-basis: 100%;
      margin-right: 0;
    }
    .tel{
      flex-basis: 100%;
    }
    .email{
      flex-basis: 100%;
    }
    .adr-item{
      flex: 0 0 45%;
      margin-right:0; 
      width: 48%;
    }
    .emails-not-match{
      display: block;
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
      background-color: white;
      color: rgb(5, 147, 194);
      margin-left: 0;
    }
   
  }
  @media screen and (min-width:600px)and (max-width:1200px){
    
      .form-item{
        font-size: 15px;
      }
      .sub-btn{
        font-size:1.7vh; 
      }
      .name{
        flex-basis: 100%;
        margin-right: 0;
      }
      .tel{
        flex-basis: 100%;
      }
      .email{
        flex-basis: 100%;
      }
      .adr-item{
        flex: 0 0 45%;
        margin-right:0; 
        width: 25%;
      }
      .emails-not-match{
        display: block;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        color: rgb(5, 147, 194);
        margin-left: 0;
      }
    }
    
  